body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    /* text-shadow: 0px 0.5px 0.2px rgb(97, 97, 97); */
}

.bg-ct{
    background-color: rgb(255, 255, 255)!important;
}
.introduce{
    background: url('/rey-seven-nm-mZ4Cs2I-unsplash_397351.jpg') ;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgb(83, 160, 248);
    padding: 2rem 0;
    margin-bottom: 4rem;
    color: white;
    text-shadow: 0px 5px 5px black;
}
.introduce img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.text-vertical-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.text-vertical-center h1 {
    text-transform: uppercase;
}

.text-vertical-center h6 {
    text-transform: capitalize;
}
.text-vertical-center .bi-mouse{
    padding: 20px 0px;
    width: 50px;
    height: 5rem;
    color: white;
    opacity: 0.5;
}
.text-vertical-center .bi-mouse:hover{
    cursor: pointer;
}
.arrow-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999999999999999999999999;
    border: 0px;
    color: black;
}
.arrow-top svg:hover{
    cursor: pointer;
}
hr{
    width: 10%;
    margin-left: 40%;
    color:white;
}