// Color
$color-primary: #000000;
$color-title: #000000;
$color-second: #19D773;
$color-third: #707070;
$color-link: #005DFF;
$color-hover: #19D773;
$color-required: #ff5555;
$color-white: #ffffff;

// Background
$background-body: #F5F6FA;
$background-footer: #000000;

$background-primary: #19D773;
$background-second: #60DF9D;
$background-third: #F5F6FA;
$background-hover: #19D773;

// Border color
$border-color: #aaa;