@@if (isShow === true) {
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Nguyen Duc Viet</h1>
    <p>I'm <span class="typed" data-typed-items="Web Developer"></span></p>
    <div class="social-links">
      @@for (var i = 0; i < socials.length; i++) {
      <a href="`+socials[i].link+`" target="_blank"
        ><i class="bx `+socials[i].icon+`"></i
      ></a>
      }
    </div>
  </div>
</section>
}
